<h1>Gerencia Disciplinas</h1>

<a href="/alunos">Alunos</a>
<a href="/turmas">Turmas</a>
<a href="/disciplinas">Disciplinas</a>
<a href="/atividades">Atividade</a>
<a href="/avaliacaos">Avaliacao</a>
